In [1]:
!ls

Untitled.ipynb

In [2]:
toy_file = open("shiny_new_file.txt", "w")
toy_file.write("hey,yo, yolo \n")
toy_file.write("how are you doing!? \n")
toy_file.close()
!ls

Untitled.ipynb     shiny_new_file.txt

In [3]:
our_file = open("shiny_new_file.txt","r")
nf=open("new2.txt","w")
nf.write(our_file.read())
our_file.close()
nf.close()
!ls

Untitled.ipynb     new2.txt           shiny_new_file.txt

In [4]:
!cat new2.txt

hey,yo, yolo
how are you doing!?

In [5]:
import urllib2
webfile=urllib2.urlopen("http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg")
locfile=open("star_wars.jpg","w")
locfile.write(webfile.read())
locfile.close()
webfile.close()
!ls

file-manipulation-python.ipynb new2.txt                       shiny_new_file.txt             star_wars.jpg

In [6]:
!curl http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg > star_wars_curl.jpg

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  557k  100  557k    0     0  1737k      0 --:--:-- --:--:-- --:--:-- 1743k

In [7]:
!ls

file-manipulation-python.ipynb new2.txt                       shiny_new_file.txt             star_wars.jpg                  star_wars_curl.jpg

In [8]:
!wget -O star-wars_wget.jpg http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg

/bin/sh: wget: command not found

In [9]:
!wget -O star_wars_wget.jpg http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg

/bin/sh: wget: command not found

In [10]:
!wget -O star_wars_wget.jpg http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg

--2015-04-07 11:03:50--  http://i.kinja-img.com/gawker-media/image/upload/s--lcZ52NA8--/19c0uzmi9bmv1jpg.jpg
Resolving i.kinja-img.com... 23.235.39.192, 23.235.39.129
Connecting to i.kinja-img.com|23.235.39.192|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 571278 (558K) [image/jpeg]
Saving to: 'star_wars_wget.jpg'

star_wars_wget.jpg  100%[=====================>] 557.89K  1.63MB/s   in 0.3s

2015-04-07 11:03:51 (1.63 MB/s) - 'star_wars_wget.jpg' saved [571278/571278]

In [11]:
nmath = 3 +99.4
with open("super_math_res.txt","w") as results:
    results.write("3+99.4=")
    results.write(str(nmath))
!cat super_math_res.txt

3+99.4=102.4

In [12]:
import csv
with open("mev.csv","w") as csv_put:
    t
!cat mev.csv

AttributeError: '_csv.writer' object has no attribute 'write'

In [13]:
import csv
with open("mev.csv","w") as csv_put:
    writer = csv.writer(csv_put)
    r1 = ["spades","hearts","clubs"]
    r2 = [ "ace", "queen", "king"]
    writer.writerow(r1)
    writer.writerow(r2)
!cat mev.csv

In [14]:
# Exploring MTA data

In [15]:
## Exploring MTA data

## Exploring MTA data

In [16]:
!wget -O mta_turn_data.txt http://web.mta.info/developers/data/nyct/turnstile/turnstile_150404.txt

--2015-04-07 11:22:07--  http://web.mta.info/developers/data/nyct/turnstile/turnstile_150404.txt
Resolving web.mta.info... 63.88.100.184, 63.88.100.208
Connecting to web.mta.info|63.88.100.184|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: 'mta_turn_data.txt'

mta_turn_data.txt       [   <=>                ]  23.91M  2.60MB/s   in 8.4s

2015-04-07 11:22:16 (2.85 MB/s) - 'mta_turn_data.txt' saved [25071566]

In [17]:
!ls

file-manipulation-python.ipynb mta_turn_data.txt              shiny_new_file.txt             star_wars_curl.jpg             super_math_res.txt
mev.csv                        new2.txt                       star_wars.jpg                  star_wars_wget.jpg

In [18]:
!head mta_turn_data.txt

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,00:00:00,REGULAR,0005065968,0001716046
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,04:00:00,REGULAR,0005066006,0001716049
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,08:00:00,REGULAR,0005066018,0001716072
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,12:00:00,REGULAR,0005066153,0001716183
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,16:00:00,REGULAR,0005066453,0001716263
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/28/2015,20:00:00,REGULAR,0005066883,0001716327
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/29/2015,00:00:00,REGULAR,0005067073,0001716368
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/29/2015,04:00:00,REGULAR,0005067111,0001716377
A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,03/29/2015,08:00:00,REGULAR,0005067124,0001716394

In [20]:
line_num = 3
with open("mta_turn_data.txt", "r") as mtav:
    reader = csv.reader(mtav)
    # Skip header line
    reader.next()
    for index,row in enumerate(reader):
        print row
        if index == line_num:
            break

['A002', 'R051', '02-00-00', 'LEXINGTON AVE', 'NQR456', 'BMT', '03/28/2015', '00:00:00', 'REGULAR', '0005065968', '0001716046                                     ']
['A002', 'R051', '02-00-00', 'LEXINGTON AVE', 'NQR456', 'BMT', '03/28/2015', '04:00:00', 'REGULAR', '0005066006', '0001716049                                     ']
['A002', 'R051', '02-00-00', 'LEXINGTON AVE', 'NQR456', 'BMT', '03/28/2015', '08:00:00', 'REGULAR', '0005066018', '0001716072                                     ']
['A002', 'R051', '02-00-00', 'LEXINGTON AVE', 'NQR456', 'BMT', '03/28/2015', '12:00:00', 'REGULAR', '0005066153', '0001716183                                     ']

In [21]:
import sys
with open("mta_turn_data.txt","r") as mtav:
    reader=csv.reader(mtav)
    three_rows = open("three_rows.txt","w")
    writer=csv.writer(three_rows)
    for num, row in enumerate(reader):
        try:
            if num == 3:
                break
            print "I am processing row %i" % num
            # Some other fancy processing goes here
            writer.writerow(row)
            if num == 2:
                mval=row/2
        except:
            print >> sys.stderr, "Cant divide row %i by numer, you goddamned FOOL!!" % num

three_rows.close()

I am processing row 0
I am processing row 1
I am processing row 2

Cant divide row 2 by numer, you goddamned FOOL!!

In [22]:
!cat three_rows.txt